:root {
    /* --- White theme --- */
    --main-color: #ff3b63;
    --dark-maroon: #49111C;
    --text-color: #333;
    --bg-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --container-bg: #ffffff;
    --hero-overlay: linear-gradient(to right, rgba(73, 17, 28, 0.9), rgba(0, 0, 0, 0.4));
    --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* --- Dark theme --- */
body.dark-theme {
    --bg-gradient: linear-gradient(135deg, #270202 0%, #2d0202 100%);
    --text-color: #333;
    --container-bg: #1a1a1a;
    --hero-overlay: linear-gradient(to right, rgba(20, 0, 0, 0.95), rgba(0, 0, 0, 0.7));
}
body.dark-theme .lab-card {
    background: rgba(255, 255, 255, 0.03);
    border-color: rgba(255, 255, 255, 0.1);
}

body.dark-theme .lab-card h3, 
body.dark-theme .lab-card p {
    color: #eee;
}

body.dark-theme .lab-card:hover {
    background: #2d0202;
}

body {
    font-family: 'Golos Text', sans-serif;
    background: var(--bg-gradient); 
    background-attachment: fixed;
    color: var(--text-color); 
    transition: background 0.5s ease, color 0.3s ease; 
}

.hero-overlay {
    background: var(--hero-overlay); 
    padding: 60px 40px;
}

/* From Uiverse.io by Type-Delta */ 
/* a clone from joshwcomeau.com 
 * but this version runs on pure CSS
 */

.themeToggle {
  color: rgba(255,255,255,0.8);
  width: 1.5em;
}

.st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}